.p1 {
 color:rgb(227, 10, 10);   
 font-size:medium;
 text-align:left;
}

.p2 {
    color:red;
    text-align:left;
}

.p3 {
    color:red;
    text-align:left;
}

.p4 {
    color:red;
    text-align:left;
}
#span{
    font-size: medium;
}
.weak{
    background-color: red;
    color:whitesmoke;
    height: 30px;
}
.medium{
    color:whitesmoke;
    background-color:orangered;
    height: 30px;
}
.strong{
    color:whitesmoke;
    background-color:rgb(134, 211, 17);
    height: 30px;
}
.verystrong{
    color:whitesmoke;
    background-color: green;
    height: 30px;
}

form{
    margin-left:271px;
}
.container-fluid{
    background-color: black;
    color: aliceblue;
}
.container{
    background-color: lightslategray;
}
label{
    font-size: medium;
}
