body{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background: rgb(52, 48, 48);
    color:white;
    background-image: url(https://images.pexels.com/photos/3586966/pexels-photo-3586966.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
     background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    
}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
   color:#ffa500; 
    width: 150px;
    height: 70px;
   margin-top: -100px;
   padding-left:40px;
}

.box h2{
    font-size:20px;
}

.box small{
    color:whitesmoke;
    margin-top:30px;
    font-size:10px;
}

.newyear{
    color:  hwb(0 0% 0%);
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    font-weight: 400;
    margin-top:-20px;
}

p{
    font-size: 13px;
}

@media (min-width:500px) {
    .newyear{
        font-size:100px;
         }  
         p{
            font-size:15px;
         }
         .box h2{
            font-size:30px;
        }
        
        .box small{
            font-size:20px;
        }
}
   

@media (min-width:700px){
    .newyear{
        font-size:150px ;
    }
    p{
        font-size:38px;
     }
     .box h2{
        font-size:50px;
    }
    
    .box small{
        font-size:30px;
    }
    

}
